<div class="d-flex w-100 h-100 align-items-center justify-content-center">
  <form class="d-flex flex-column p-5 login-form" [formGroup]="loginForm">
    <div class="d-flex align-items-center justify-content-center label">
      Zaloguj się
    </div>
    <div class="d-flex flex-column example-container">
      <mat-form-field>
        <input formControlName="login" matInput placeholder="Login" />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          formControlName="password"
          placeholder="Wprowadź swoje hasło"
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button
      mat-stroked-button
      color="primary"
      class="btn-login"
      (click)="login()"
    >
      Zaloguj
    </button>
  </form>
</div>
