<div class="d-flex justify-content-between flex-wrap">
  <div
    *ngFor="let element of statistics"
    class="d-flex m-2 justify-content-between"
  >
    <div>
      {{ element.element }}
      <mat-list>
        <ng-container *ngFor="let assessment of element.elementsList">
          <mat-list-item class="pl-3">
            Ocena {{ assessment.grade }} : {{ assessment.value }}
            <span class="pl-3">{{ assessment.result }} </span>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-list>
    </div>
  </div>
</div>
