<mat-toolbar-row *ngIf="loginInfo.teamName.length > 0" class="d-flex toolbar">
  <div class="d-flex w-100 justify-content-between">
    <div class="p-3">
      <div>
        Witaj!!!
      </div>
      <div>Twój zespół to {{ loginInfo.teamName }}</div>
    </div>
    <button class="m-3 btn-logout" mat-stroked-button (click)="logout()">Wyloguj</button>
  </div>
</mat-toolbar-row>

<router-outlet></router-outlet>
